.selectedFilter {
  background-color: aquamarine;
}
.unselectedFilter {
  background-color: none;
}
.books-list {
  list-style: none;
}
.books-list li img {
  margin-right: 20px;
}
.list-group {
  cursor: pointer;
}